* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: "맑은 고딕";
  background-color: #f8f9fd;
  
}

body {
  background-image:#34495e;
}

fieldset {
  position:absolute;
  width:420px;
  height:700px;
  padding: 30px, 20px;
  background-color:#FFFFFF;
  text-align:center;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
}

h2 {
  text-align: center;
  margin: 30px;
  background-color: #FFFFFF;
}

.textForm {
  background-color: #FFFFFF;
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}


.id {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background-color: #FFFFFF;
}

.pw {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background-color: #FFFFFF;
}

.name {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background-color: #FFFFFF;
}

.email {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background-color: #FFFFFF;
}

.nickname {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background-color: #FFFFFF;
}

.cellphoneNo {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background-color: #FFFFFF;
}

.btn {
  position:relative;
  left:40%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width:80%;
  height:40px;
  background-position: left;
  background-size: 200%;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
}

.btn:hover {
  background-position: right;
}

#signup{
  background-color: #636e72;
  color:#FFFFFF;
}